<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Détails Patient - Medilabo Solutions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>

<body>
	<div class="container mt-5">
		<div class="card shadow-lg">
			<div class="card-header bg-primary text-white">
				<h3>Détails du Patient</h3>
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-md-6">
						<strong>Nom :</strong> <span th:text="${patient.lastName}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<strong>Prénom :</strong> <span th:text="${patient.firstName}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<strong>Sexe :</strong> <span th:text="${patient.gender}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<strong>Date de naissance :</strong> <span th:text="${patient.birthDate}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<strong>Adresse :</strong> <span th:text="${patient.address}">N/A</span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<strong>Téléphone :</strong> <span th:text="${patient.phone}">N/A</span>
					</div>
				</div>

				<div class="d-flex justify-content-between mt-3">
					<a th:href="@{/patients}" class="btn btn-secondary">← Retour à la liste</a>
					<a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-warning">Modifier</a>
				</div>
			</div>
		</div>
		<div class="card shadow-lg mt-4">
			<div class="card-header bg-info text-white">
				<h4>Notes du Patient</h4>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom Patient</th>
							<th>Contenu</th>
							<th>Date de création</th>
							<th>Dernière modification</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="note : ${notes}">
							<td th:text="${note.patientName}"></td>
							<td th:text="${note.note}"></td>
							<td th:text="${#dates.format(note.date, 'dd/MM/yyyy HH:mm')}"></td>
							<td th:text="${#dates.format(note.date, 'dd/MM/yyyy HH:mm')}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</body>

</html>